.loading > .icon {
  @apply bg-white mx-1 my-1  w-4 h-4 rounded-full animate-bounce;
}

.loading > .icon-1 {
  animation-delay: 0.1s;
}
.loading > .icon-2 {
  animation-delay: 0.2s;
}
.loading > .icon-3 {
  animation-delay: 0.3s;
}
