<section class="mt-5 bg-gray rounded-lg p-2">
  <div class="px-8 pt-2 pb-4">
    <h1 class="text-2xl font-bold">My Company</h1>
    <div *ngIf="company === undefined">
      <p class="pl-2 my-3 italic">You are no part of a company yet. Do you want to create one?</p>
      <button class="text-white rounded-3xl bg-primary font-bold px-3 py-2 min-w-button" (click)="showModal()">
        Create a company
      </button>
      <create *ngIf="openModal" (closeComponent)="openModal = false"></create>
    </div>
    <div *ngIf="company" #showCompany>
      <p>Name: {{ company.Name }}</p>
      <p>Address: {{ company.Address }}</p>
      <p>Description: {{ company.Description }}</p>
    </div>
  </div>
</section>
