<div class="h-14 bg-gray border-b border-soft-gray flex items-center px-4">
  <div class="flex-1">
    <a routerLink="/" class="h-10 w-10 rounded-full bg-primary flex justify-center items-center font-bold text-2xl">
      <img src="/assets/img/Logo_white.png" alt="Logo Martijnbook" />
    </a>
  </div>
  <a
    routerLink="/user"
    class="
      py-2
      px-4
      rounded-3xl
      bg-gray
      hover:bg-soft-gray
      transition-colors
      duration-100
      flex
      justify-center
      items-center
      capitalize
    "
  >
    <fa-icon class="flex-1" [icon]="userIcon"></fa-icon>

    <span class="pl-2">{{ userName }}</span>
  </a>
</div>
