<div class="w-screen h-full flex justify-center items-start pt-login">
  <div class="bg-soft-gray p-5 rounded-xl shadow-lg ">
    <div class="px-8 pt-2 pb-4">
      <p (class)="errorMessage ? 'w-0' : ''"class="mb-4 text-red italic">
        {{ errorMessage }}
      </p>
<div class="grid grid-cols-2 gap-x-10">

        <div class="mb-4 order-1">
          <label class="block text-gray-700 text-sm font-bold mb-2" for="firstname">
            First Name
          </label>
          <input
            class="
              shadow
              appearance-none
              border
              rounded
              w-full
              py-2
              px-3
              text-black
              leading-tight
              focus:outline-none focus:shadow-outline
            "
            id="firstname"
            type="text"
            placeholder="John"
            [(ngModel)]="user.FirstName"
            name="firstname"
          />
        </div>
        <div class="mb-4 order-3">
          <label class="block text-gray-700 text-sm font-bold mb-2" for="lastname">
            Last Name
          </label>
          <input
            class="
              shadow
              appearance-none
              border
              rounded
              w-full
              py-2
              px-3
              text-black
              leading-tight
              focus:outline-none focus:shadow-outline
            "
            id="lastname"
            type="text"
            placeholder="Doe"
            [(ngModel)]="user.LastName"
            name="lastname"
          />
        </div>
        <div class="mb-4 order-5">
          <label class="block text-gray-700 text-sm font-bold mb-2" for="email">
            Email
          </label>
          <input
            class="
              shadow
              appearance-none
              border
              rounded
              w-full
              py-2
              px-3
              text-black
              leading-tight
              focus:outline-none focus:shadow-outline
            "
            id="email"
            type="email"
            placeholder="Email"
            [(ngModel)]="user.Email"
            name="email"
          />
        </div>
        <div class="mb-4 order-2">
          <label
            class="block text-gray-700 text-sm font-bold mb-2"
            for="password"
          >
            Password
          </label>
          <input
            class="
              shadow
              appearance-none
              border
              rounded
              w-full
              py-2
              px-3
              text-black
              mb-3
              leading-tight
              focus:outline-none focus:shadow-outline
            "
            id="password"
            type="password"
            placeholder="Password"
            [(ngModel)]="user.Password"
            name="password"
          />
          </div>
          <div class="mb-4 order-4">
            <label
              class="block text-gray-700 text-sm font-bold mb-2"
              for="confirmPassword"
            >
              Confirm password
            </label>
            <input
              class="
                shadow
                appearance-none
                border
                rounded
                w-full
                py-2
                px-3
                text-black
                mb-3
                leading-tight
                focus:outline-none focus:shadow-outline
              "
              id="confirmPassword"
              type="password"
              placeholder="Confirm Password"
              [(ngModel)]="confirmPassword"
              name="confirmPassword"
            />
          <!-- <p class="text-red text-xs italic">Please enter a password.</p> -->
        </div>
</div>
      <div class="mt-5 flex items-center justify-center">
        <button
          (click)="onRegister()"
          class="
            bg-primary
            hover:bg-blue-700
            text-white
            font-bold
            py-2
            px-4
            w-full
            rounded
            focus:outline-none focus:shadow-outline
          "
        >
          <div *ngIf="!loading">Sign Up</div>
          <div *ngIf="loading" class="loading flex justify-center items-center">
           <div class="icon icon-1"></div>
           <div class="icon icon-2"></div>
           <div class="icon icon-3"></div>
          </div>
        </button>
      </div>
    </div>
  </div>
</div>
